.custom-icon{
    width: 2rem;
    height: 2rem;
}
.custom-icon path {
    stroke: #fff;
}

.clock-icon{
    width: 0.8rem;
    height: 0.8rem;
    
}
.clock-icon path {
    stroke: #8F8E8C;
}

.feedback-icon{
    width: 2rem;
    height: 2rem;
}
.feedback-icon path {
    stroke: #8F8E8C;
}

.comment-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.comment-icon path {
    stroke: #8F8E8C;
}