.logo-icon {
  @apply w-[12rem] h-10 lg:w-[13rem] lg:h-12 xl:w-[18rem] xl:h-14
}

.nav-icons {
  @apply w-7 h-7 transition-all ease-linear
}

.nav-icons path {
  @apply dark:stroke-primaryText-dark
}

.active-nav-icons path {
  @apply dark:stroke-secondary-dark
}


.nav-li-el {
  @apply flex flex-col md:flex-row items-center gap-3 p-2 rounded-md cursor-pointer dark:bg-none dark:text-primaryText-dark;
  @apply hover:dark:bg-primary_3-dark hover:transition-transform hover:scale-105 hover:ease-linear;
}

.active-nav-el {
  @apply dark:bg-primary_3-dark dark:text-secondary-dark transition-all ease-linear;
}

.nav-li-right-el {
  @apply hidden md:flex flex-col md:flex-row items-center gap-3 p-2 cursor-pointer rounded-md lg:hidden dark:bg-none dark:text-primaryText-dark;
  @apply hover:dark:bg-primary_3-dark hover:transition-transform hover:scale-105 hover:ease-linear;
}

.active-nav-right-el {
  @apply dark:bg-primary_3-dark dark:text-secondary-dark transition-all ease-linear;
}


.nav-li-hide {
  @apply hidden md:flex items-center gap-3 p-2 rounded-md cursor-pointer dark:bg-none dark:text-primaryText-dark;
  @apply hover:dark:bg-primary_3-dark hover:transition-transform hover:scale-105 hover:ease-linear;
}

.active-nav-el-hide {
  @apply dark:bg-primary_3-dark dark:text-secondary-dark transition-all ease-linear;
}


.nav-li-hide-md {
  @apply flex md:hidden
}


.modal-animation {
  animation: fadeInUp 0.3s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.setting-item {
  @apply flex items-center gap-1 px-1 py-1 cursor-pointer rounded-md;
  @apply hover:dark:bg-primary_4-dark hover:transition-all hover:duration-200 hover:ease-linear
}

.setting-item-active {
  @apply hover:dark:bg-primary_3-dark dark:bg-primary_4-dark hover:transition-all hover:duration-200 hover:ease-linear
}

.setting-item-delete {
  @apply dark:bg-secondary_2-dark hover:transition-all hover:duration-200 hover:ease-linear
}

.del-icons {
  @apply w-7 h-7 transition-all ease-linear
}

.del-icons path {
  @apply dark:stroke-secondary_2-dark
}

.active-del-icons path {
  @apply dark:stroke-white
}
