<div class="flex flex-col dark:bg-primary_2-dark h-[6vh] md:min-h-[100vh] border-t md:border-r dark:border-primary_4-dark 
 font-aahawow dark:text-primaryText-dark">
  <!-- Logo Section -->
  <div class="hidden md:flex items-center justify-center py-3 px-1">
    <h1 class="text-xl font-bold">
      <svg-icon name="longLogo" [svgClass]="'logo-icon'"></svg-icon>
    </h1>
  </div>

    <!-- Search Bar -->
    <div class="hidden md:block md:px-3 xl:px-4 mb-4 font-merriweather">
      <div class="w-full rounded-md dark:bg-primary_4-dark text-white flex items-center gap-[0.10rem]">
        <div class="cursor-pointer pl-2">
          <svg-icon name='search' [svgClass]="'custom-icon'"></svg-icon>
        </div>
        <input
        type="text"
        placeholder="Explore Gamindie..."
        class="w-full p-2 rounded-md dark:bg-primary_4-dark focus:outline-none dark:placeholder-primaryText-dark"
      />
      </div> 
    </div>

  <!-- Navigation Links -->
  <nav class="flex-auto md:px-3 xl:px-4 text-lg md:text-xl lg:text-2xl">
    <ul class="pt-1 md:space-y-2 flex md:block justify-around items-center md:py-2 px-1">
      <li
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('explore'),
          'nav-li-el': !isActive('explore')
        }" 
        [class.active]="isActive('explore')"
        (click)="navigateToSection('explore')"
      >
        <svg-icon name="home" [svgClass]="isActive('explore') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
        <span  class="hidden md:block">Home</span>
      </li>
      <li
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('create'),
          'nav-li-el': !isActive('create')
        }" 
        [class.active]="isActive('create')"
        (click)="navigateToSection('create')"
      >
        <svg-icon name="create" [svgClass]="isActive('create') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
        <span  class="hidden md:block">Create</span>
      </li>
      <li
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('store'),
          'nav-li-el': !isActive('store')
        }" 
        [class.active]="isActive('store')"
        (click)="navigateToSection('store')"
      >
        <svg-icon name="store" [svgClass]="isActive('store') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
        <span class="hidden md:block">Store</span>
      </li>
      <li
        [ngClass]="{
          'active-nav-el-hide nav-li-hide': isActive('saved'),
          'nav-li-hide': !isActive('saved'),
        }" 
        [class.active]="isActive('saved')"
        (click)="navigateToSection('saved')"
      >
        <svg-icon name="bookmark" [svgClass]="isActive('saved') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
        <span class="hidden md:block">Saved</span>
      </li>
      <li
        [ngClass]="{
          'active-nav-el-hide nav-li-hide': isActive('profile'),
          'nav-li-hide': !isActive('profile')
        }" 
        (click)="navigateToSection('profile')"
      >
        <svg-icon name="user" [svgClass]="isActive('profile') ? 'nav-icons active-nav-icons ' : 'nav-icons'"></svg-icon>
        <span  class="hidden md:block">Profile</span>
      </li>
      <li
        [ngClass]="{
          'nav-li-right-el active-nav-right-el': isActive('friends-requests'),
          'nav-li-right-el': !isActive('friends-requests')
        }" 
       (click)="navigateToSection('friends-requests')">
        <svg-icon name="user-add" [svgClass]="isActive('friends-requests') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
        <span  class="hidden md:block">Requests</span>
      </li>
      <li 
        [ngClass]="{
          'nav-li-right-el active-nav-right-el': isActive('chat'),
          'nav-li-right-el': !isActive('chat')
        }"  
        (click)="navigateToSection('chat')">
        <svg-icon name="messanger" [svgClass]="isActive('chat') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
        <span  class="hidden md:block">Chat</span>
      </li>
      <li 
        [ngClass]="{
          'nav-li-right-el active-nav-right-el ': isActive('notifications'),
          'nav-li-right-el': !isActive('notifications')
        }"        
        (click)="navigateToSection('notifications')">
        <svg-icon name="notification" [svgClass]="isActive('notifications') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
        <span  class="hidden md:block">Notifications</span>
      </li>
      <li 
      class="nav-li-el nav-li-hide-md"
      (click)="toggleMenuModal()"
      >
      <svg-icon 
        name="menu" 
        [svgClass]="'nav-icons'"
      ></svg-icon>
      </li>
    </ul>
  </nav>

  <!-- Settings -->
  <div class="hidden md:flex px-4 py-2 border-t-[3px] dark:border-primary_4-dark text-2xl">
    <div class="nav-li-el">
      <svg-icon name="setting" [svgClass]="'nav-icons'"></svg-icon>
      <span class="hidden md:block">Settings</span>
    </div>
  </div>


  <!-- Menu Modal -->
  <div *ngIf="isMenuModalOpen" 
  class="absolute bottom-[6vh] right-0 bg-primary_2-dark py-4 px-2 shadow-lg rounded-md menu-modal"
  >
    <ul class="space-y-2">
      <li
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('friends-requests'),
          'nav-li-el': !isActive('friends-requests')
        }" 
       (click)="rightNavigateTo('friends-requests')">
        <svg-icon name="user-add" [svgClass]="isActive('friends-requests') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
      </li>
      <li 
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('chat'),
          'nav-li-el': !isActive('chat')
        }"  
        (click)="rightNavigateTo('chat')">
        <svg-icon name="messanger" [svgClass]="isActive('chat') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
      </li>
      <li 
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('notifications'),
          'nav-li-el': !isActive('notifications')
        }"        
        (click)="rightNavigateTo('notifications')">
        <svg-icon name="notification" [svgClass]="isActive('notifications') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
      </li>
      <li
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('saved'),
          'nav-li-el': !isActive('saved'),
        }" 
        (click)="rightNavigateTo('saved')"
      >
        <svg-icon name="bookmark" [svgClass]="isActive('saved') ? 'nav-icons active-nav-icons' : 'nav-icons'"></svg-icon>
      </li>
      <li
        [ngClass]="{
          'nav-li-el active-nav-el': isActive('profile'),
          'nav-li-el': !isActive('profile')
        }" 
        (click)="rightNavigateTo('profile')"
      >
        <svg-icon name="user" [svgClass]="isActive('profile') ? 'nav-icons active-nav-icons ' : 'nav-icons'"></svg-icon>
      </li>
      <li 
        class="nav-li-el nav-li-hide-md"
        >
        <svg-icon 
          name="setting" 
          [svgClass]="'nav-icons'"
        ></svg-icon>
      </li>
    </ul>
  </div>

</div>


