.custom-icon{
    width: 2rem;
    height: 2rem;
}
.custom-icon path {
    stroke: #fff;
}

.logo-icon{
    @apply w-[3rem] h-7
}


.toggle-button {
    @apply dark:text-secondary-dark dark:bg-primary_3-dark transition-all ease-linear
}

.toggle-tab{
    @apply w-1/2 h-7 sm:w-20 md:w-20 lg:w-32 lg:h-9 flex items-center justify-center  font-bold text-lg lg:text-xl 
    hover:cursor-pointer rounded-[6px] sm:rounded-[10px]
}

.toggle-tab-hover {
    @apply   hover:dark:bg-primary_5-dark transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-md;
}

.active-right-tab {
    @apply hidden lg:flex dark:bg-secondary-dark
}

.inactive-right-tab {
    @apply hidden lg:flex dark:bg-primary_4-dark hover:dark:bg-primary_3-dark
}

.profile-right-tab {
    @apply  dark:bg-primary_4-dark hover:dark:bg-primary_3-dark
}

.right-tab{
    @apply  p-1 rounded-full
}
