<div class="dark:bg-primary_2-dark h-[8vh]  border-b dark:border-primary_4-dark grid grid-flow-col">
    <div class="bg-white grid grid-flow-col">
        <div class="bg-blue-800">
            <div class="flex items-center justify-start">
                <svg-icon name='home' [svgStyle]="{ 'width.px': 90 ,'height.px':90 }"
                [svgClass]="'custom-icon'"></svg-icon>
                <p class="font-aahawow text-2xl dark:text-primaryText-dark">Home</p>
            </div>
        </div>
        <div class="bg-yellow-600">

        </div>
    </div>

    <div class="bg-red-700">

    </div>
</div>
