<header class="dark:bg-primary_2-dark h-[8vh] border-b dark:border-primary_4-dark grid grid-flow-col">
    <nav class="grid grid-flow-col">
        <!-- Section Name -->
        <div class="flex items-center justify-start pl-4">
            <h1 class="font-aahawow text-lg sm:text-2xl dark:text-white">{{sectionName}}</h1>
        </div>

        <!-- Explore and My Feed Toggle (Visible on larger screens) -->
        <div class="hidden sm:flex items-center justify-center" *ngIf="isActive('explore')">
            <div class="flex items-center justify-center p-[2px] dark:bg-primary_4-dark rounded-[6px] sm:rounded-[10px] dark:text-primaryText-dark">
                <button 
                    class="toggle-tab" 
                    [ngClass]="{
                        'toggle-button': !isActive('myfeed'),
                        'toggle-tab-hover': isActive('myfeed')
                    }" 
                    (click)="center_NavigateTo('explore')"
                    aria-label="Explore">
                    Explore
                </button>
                <button 
                    class="toggle-tab" 
                    [ngClass]="{
                        'toggle-button': isActive('myfeed'),
                        'toggle-tab-hover': !isActive('myfeed')
                    }" 
                    [class.active]="isActive('myfeed')"
                    (click)="center_NavigateTo('explore/myfeed')"
                    aria-label="My Feed">
                    My Feed
                </button>
            </div>
        </div>
    </nav>

    <!-- Right Navigation Buttons -->
    <div class="flex items-center justify-end pr-4 space-x-4">
        <!-- Friend Request Icon -->
        <button 
            class="right-tab" 
            [ngClass]="{
                'active-right-tab': isActive('friend-requests'),
                'inactive-right-tab': !isActive('friend-requests')
            }" 
            [class.active]="isActive('friend-requests')"
            (click)="right_NavigateTo('friend-requests')"
            aria-label="Friend Requests">
            <svg-icon name="user-add" [svgClass]="'custom-icon'"></svg-icon>
        </button>

        <!-- Chat Icon -->
        <button 
            class="right-tab" 
            [ngClass]="{
                'active-right-tab': isActive('chat'),
                'inactive-right-tab': !isActive('chat')
            }" 
            [class.active]="isActive('chat')"
            (click)="right_NavigateTo('chat')"
            aria-label="Chat">
            <svg-icon name="messanger" [svgClass]="'custom-icon'"></svg-icon>
        </button>

        <!-- Notification Icon -->
        <button 
            class="right-tab" 
            [ngClass]="{
                'active-right-tab': isActive('notifications'),
                'inactive-right-tab': !isActive('notifications')
            }" 
            [class.active]="isActive('notifications')"
            (click)="right_NavigateTo('notifications')"
            aria-label="Notifications">
            <svg-icon name="notification" [svgClass]="'custom-icon'"></svg-icon>
        </button>

        <!-- Profile Section -->
        <div class="flex items-center space-x-2">
            <span class="text-white hidden md:flex text-xl">{{user?.fullName}}</span>
            <button class="profile-right-tab" (click)="center_NavigateTo('profile')" aria-label="Profile">
                <ng-container *ngIf="user?.profilePicture; else defaultIcon">
                    <img [src]="getProfileUrl(user?.profilePicture)" alt="User Photo" class="w-9 h-9 rounded-full bg-cover" />
                </ng-container>
                <ng-template #defaultIcon>
                    <svg-icon name="user" [svgClass]="'custom-icon m-1'"></svg-icon>
                </ng-template>
            </button>
        </div>
    </div>
</header>

<!-- Mobile Navigation Toggle -->
<nav class="sm:hidden dark:bg-primary_2-dark h-[4vh] border-b dark:border-primary_4-dark grid grid-flow-col"  *ngIf="isActive('explore')">
    <div class="flex items-center justify-center" *ngIf="isActive('explore')">
        <div class="flex-1 flex flex-row  items-center justify-around p-[2px] dark:bg-primary_4-dark dark:text-primaryText-dark">
            <button 
                class="toggle-tab" 
                [ngClass]="{
                    'toggle-button': !isActive('myfeed'),
                    'toggle-tab-hover': isActive('myfeed')
                }" 
                [class.active]="!isActive('myfeed')"
                (click)="center_NavigateTo('explore')"
                aria-label="Explore">
                Explore
            </button>
            <button 
                class="toggle-tab" 
                [ngClass]="{
                    'toggle-button': isActive('myfeed'),
                    'toggle-tab-hover': !isActive('myfeed')
                }" 
                [class.active]="isActive('myfeed')"
                (click)="center_NavigateTo('explore/myfeed')"
                aria-label="My Feed">
                My Feed
            </button>
        </div>
    </div>
</nav>
