<div class="min-h-[100vh] grid place-items-center">
  <div class="min-w-[90vw] md:min-w-[30vw] lg:min-w-[20vw] min-h-[80vh]">
    <div class="max-w-96 mx-auto mb-10 sm:mb-20 ">
      <app-svg-icon name="longLogo"></app-svg-icon>
    </div>
    <div class="mx-auto">
      <h3
        class="mb-10 text-center font-aahawow text-4xl dark:text-primaryText-dark"
      >
        Login
      </h3>
      <div class="flex items-center my-4">
        <div
          class="flex-grow border-t border-1 sm:border-2 dark:border-primaryText-dark"
        ></div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
      </div>
      <div class="mb-3">
        <label for="login" class="form-label dark:text-primaryText-dark"
          >Email address</label
        >
        <input
          [(ngModel)]="authRequest.email"
          type="email"
          class="form-control input-style"
          id="login"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label dark:text-primaryText-dark"
          >Password</label
        >
        <input
          [(ngModel)]="authRequest.password"
          type="password"
          class="form-control input-style"
          id="password"
          placeholder="password"
        />
      </div>
      <button
        (click)="login()"
        type="button"
        class="mt-8 form-control dark:bg-secondary-dark border-none"
      >
        <span class="dark:text-primary-dark font-aahawow text-md sm:text-xl">Sign in</span>
      </button>
      <div class="flex items-center my-10">
        <div
          class="flex-grow border-t border-2 dark:border-primaryText-dark"
        ></div>
        <span class="mx-4 dark:text-primaryText-dark font-aahawow">or</span>
        <div
          class="flex-grow border-t border-2 dark:border-primaryText-dark"
        ></div>
      </div>
      <button
        (click)="loginWithProvider()"
        type="button"
        class="my-8 form-control border-none flex items-center justify-center gap-2"
      >
        <app-svg-icon name="google"></app-svg-icon>
        <span class="dark:text-primary-dark font-aahawow text-md md:text-xl mt-2"
          >Sign up with google</span
        >
      </button>
      <div
        class="d-flex justify-content-center mb-3 dark:text-primaryText-dark"
      >
        <div>
          Don't have an account?
          <button
            (click)="register()"
            type="button"
            class="dark:text-secondary-dark font-aahawow no-underline"
          >
            Register
          </button>
         

        </div>
      </div>
    </div>
  </div>
</div>
