<div
  class="w-full h-[86vh] md:h-[89vh] max-w-xl mx-auto text-primaryText-dark font-merriweather overflow-y-auto scrollbar-none"
>
  <div class="dark:bg-primary_2-dark rounded-lg shadow-lg p-3">
    <!-- Header -->
    <div class="flex items-center justify-between mb-3 text-white">
      <button
        class="text-lg font-semibold hover:text-secondary-dark flex items-center gap-2"
        (click)="goBack()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
        <span>Back</span>
      </button>
      <span class="text-xl font-semibold">Post Details</span>
    </div>

    <!-- User Info -->
    <div class="flex items-center mb-4">
      <div
        class="w-12 h-12 rounded-full flex items-center justify-center dark:bg-primary_5-dark"
      >
        <ng-container *ngIf="post?.ownerProfilePicture; else defaultIcon">
          <img [src]="post?.ownerProfilePicture" alt="User Photo" class="w-12 h-12 rounded-full bg-cover" />
        </ng-container>
        <ng-template #defaultIcon>
          <svg-icon name="user" [svgClass]="'custom-icon m-1'"></svg-icon>
        </ng-template>
      </div>
      <div class="ml-3 text-white">
        <p class="text-lg font-bold">{{ post?.ownerFullName }}</p>
        <p class="text-sm text-gray-400">{{ getFormattedDate() }}</p>
      </div>
      <div class="relative">
        <button *ngIf="isOwner()"
          class="transition-all ease-linear hover:scale-95"
          (click)="toggleMenu()"
        >
          <svg-icon name="dot-menu" [svgClass]="'custom-icon'"></svg-icon>
        </button>

        <!-- Modal -->
        <div
          *ngIf="isMenuOpen"
          class="absolute right-0 w-32 bg-primary_4-dark p-1 shadow-md rounded-md menu-modal z-10 font-merriweather"
        >
          <ul class="flex flex-col py-2">
            <li>
              <button
                (click)="deletePost()"
                class="w-full text-left p-2 text-md rounded-md dark:text-primaryText-dark dark:hover:text-white dark:hover:bg-secondary_2-dark"
              >
                Delete
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <!-- Content Display -->
      <div class="text-sm leading-relaxed font-sans mt-3">
        <span>
          {{
            isExpanded || (post!.content?.length || 0) <= maxLength
              ? post?.content
              : (post?.content | slice : 0 : maxLength) + "..."
          }}
        </span>
        <button
          *ngIf="(post!.content?.length || 0) > maxLength"
          (click)="toggleExpanded()"
          class="dark:text-secondary-dark font-medium ml-2 hover:underline"
        >
          {{ isExpanded ? "Show Less" : "Show More" }}
        </button>
      </div>
    </div>

    <!-- Post Images -->
    <div class="relative mb-4">
      <div *ngFor="let attachment of attachmentsURL">
        <img
          [src]="attachment"
          alt="Post Image"
          class="w-full object-cover rounded-md"
        />
      </div>
    </div>

    <!-- Actions (Like, Comment, Share) -->
    <div
      class="grid grid-flow-col grid-cols-3 justify-between items-center dark:text-primaryText-dark"
    >
      <!-- Like Button -->
      <div class="flex items-center justify-center gap-1">
        <button
          class="flex items-center gap-1 text-sm transition-all duration-200 hover:dark:text-secondary-dark"
          [class.dark:text-secondary-dark]="isLiked"
          (click)="toggleLike(post?.id)"
        >
          <svg-icon
            name="heart"
            [svgClass]="
              isLiked
                ? 'feedback-icon feedback-icon-hover'
                : 'feedback-icon hover:feedback-icon-hover'
            "
          ></svg-icon>
          <span class="inline-block">{{ post?.likes?.length }}</span>
        </button>
      </div>

      <!-- Comment Button -->
      <div class="flex items-center justify-center gap-1">
        <button
          class="flex items-center gap-1 text-sm transition-all duration-200 dark:text-secondary-dark"
        >
          <svg-icon
            name="comment"
            [svgClass]="'comment-icon comment-icon-hover'"
          ></svg-icon>
          <span class="inline-block">{{ post?.comments?.length }}</span>
        </button>
      </div>

      <!-- Share Button -->
      <div class="flex items-center justify-center gap-1">
        <button
          class="flex items-center gap-1 text-sm transition-all duration-200 hover:text-secondary-dark active:scale-95"
          (click)="sharePost(post?.id)"
        >
          <svg-icon
            name="share"
            [svgClass]="'feedback-icon hover:feedback-icon-hover'"
          ></svg-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Comment Section -->
  <div *ngIf="openPostId === post?.id" class="mt-4 p-2">
    <app-comment-section
      [postId]="post?.id"
      (addReply)="handleAddReply($event)"
    ></app-comment-section>
  </div>
</div>
