<!-- Comment Section -->
<div class="overflow-y-auto scrollbar-none max-h-[400px]">
  <div *ngFor="let comment of comments; let i = index" class="mb-6">
    <div class="flex items-start gap-4">
      <ng-container *ngIf="comment.createdByAvatar; else defaultIcon">
        <img
          [src]="getProfileUrl(comment.createdByAvatar)"
          alt="User Photo"
          class="w-8 h-8 md:w-10 md:h-10 rounded-full object-cover"
        />
      </ng-container>
      <ng-template #defaultIcon>
        <svg-icon
          name="user"
          [svgClass]="'custom-icon text-gray-400'"
          class="w-8 h-8 md:w-10 md:h-10"
        ></svg-icon>
      </ng-template>
      <div class="flex-1">
        <div>
          <span class="font-semibold dark:text-primaryText-dark">{{
            comment.createdByUsername
          }}</span>
          <small class="text-xs dark:text-primaryText-dark ml-2">{{
            getDate(comment)
          }}</small>
        </div>
        <!-- Comment Content -->
        <div
          class="text-sm leading-relaxed font-sans mt-2 dark:text-primaryText-dark flex flex-col justify-center items-start"
        >
          <span class="break-all whitespace-normal">
            {{
              comment.isExpandedContent ||
              (comment.content?.length || 0) <= maxLengthContent
                ? comment.content
                : (comment.content | slice : 0 : maxLengthContent) + "..."
            }}
          </span>
          <button
            *ngIf="(comment.content?.length || 0) > maxLengthContent"
            (click)="toggleContent(comment)"
            class="dark:text-secondary-dark font-medium ml-2 hover:underline inline-block"
          >
            {{ comment.isExpandedContent ? "Show Less" : "Show More" }}
          </button>
        </div>
      </div>
    </div>

    <div class="ml-12 mt-4">
      <div *ngIf="comment.isExpandedReplies">
        <app-comment-section
          [postId]="postId"
          [commentId]="comment.id"
          [isReply]="true"
        ></app-comment-section>
      </div>
      <button
        (click)="toggleReplies(comment)"
        class="text-secondary-dark text-sm font-medium mt-2 hover:underline"
      >
        {{ comment.isExpandedReplies ? "Hide Replies" : "See Replies" }}
      </button>
    </div>
  </div>
</div>

<!-- Comment Input -->
<div class="flex items-center gap-4 mt-6">
  <ng-container *ngIf="user?.profilePicture; else defaultIcon">
    <img
      [src]="user?.profilePicture"
      alt="User Photo"
      class="w-8 h-8 md:w-10 md:h-10 rounded-full object-cover"
    />
  </ng-container>
  <ng-template #defaultIcon>
    <svg-icon
      name="user"
      [svgClass]="'custom-icon text-gray-400'"
      class="w-8 h-8 md:w-10 md:h-10"
    ></svg-icon>
  </ng-template>
  <input
    type="text"
    [(ngModel)]="newCommentContent"
    [placeholder]="isReply ? 'Reply to comment...' : 'Add a comment...'"
    class="w-full bg-transparent text-sm dark:text-primaryText-dark border-none placeholder-gray-500 focus:ring-0 outline-none"
  />
  <button
    class="text-secondary-dark text-sm font-medium"
    [disabled]="!newCommentContent"
    (click)="addComment()"
  >
    Post
  </button>
</div>
