<div class="w-full bg-transparent text-white font-merriweather px-[1px] sm:px-1  lg:px-2">
    <!-- Header -->
    <div class="py-2 font-aahawow flex flex-col items-center">
        <h2 class="text-xl tracking-wide sm:tracking-wider">
        Chatrooms
      </h2>
      <div class="h-0.5 w-full dark:bg-primary_4-dark mt-2 sm:mt-3"></div>
    </div>

    <!-- Button to Open Modal -->
    <div class="py-2 mb-4 font-merriweather">
      <button (click)="openFriendsModal()" class="w-full py-2 px-4 rounded-md dark:bg-secondary-dark  transition-colors duration-200">
          Select Friend to Chat
      </button>
    </div>

    <!-- Friend Requests List -->
    <div class="flex flex-col max-h-[70vh] sm:max-h-[77vh] gap-2 w-full mt-4 overflow-y-auto scrollbar-none px-1 sm:px-2">
      <div *ngFor="let chatRoom of chatRooms"
           class="py-1 px-2 dark:bg-primary_4-dark rounded-lg flex items-center justify-between hover:dark:bg-primary_3-dark transition-colors duration-200"
           (click)="openChatroom(chatRoom)">
        
        <!-- User Info -->
        <div class="flex items-center gap-3">
          <div class="w-10 h-10 sm:w-14 sm:h-14 rounded-full dark:bg-primary_5-dark flex items-center justify-center">
            <ng-container *ngIf="recipients[chatRoom.id || -1].profilePicture; else defaultIcon">
              <img [src]="getProfileUrl(recipients[chatRoom.id || -1].profilePicture)" alt="User Photo" class="w-full h-full rounded-full bg-cover" />
            </ng-container>
            <ng-template #defaultIcon>
                <svg-icon name="user" [svgClass]="'custom-icon m-1'"></svg-icon>
            </ng-template>
          </div>
          <span class="text-md">{{ recipients[chatRoom.id || -1].fullName }}</span>
        </div>
      </div>
    </div>




    <!-- Friends Modal -->
    <div *ngIf="isFriendsModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
      <div class=" dark:bg-primary_4-dark rounded-lg p-4 w-3/4 max-w-md">
          <div class="flex justify-between items-center mb-4">
              <h3 class="text-lg font-semibold">Select a Friend to Chat</h3>
              <button (click)="closeFriendsModal()" class="text-red-500">X</button>
          </div>
          <div class="flex flex-col gap-2 max-h-60 overflow-y-auto scrollbar-none">
            <div class="flex items-center gap-3 rounded-md p-2  dark:bg-primary_2-dark hover:dark:bg-primary_3-dark"      *ngFor="let friend of friendsList"
            (click)="startChatWithFriend(friend)">
                <div class="w-10 h-10 sm:w-14 sm:h-14 rounded-full dark:bg-primary_5-dark flex items-center justify-center" >
                  <ng-container *ngIf="getFriendProfilePicture(friend); else defaultIcon">
                    <img [src]="getFriendProfilePicture(friend)" alt="User Photo" class="w-full h-full rounded-full bg-cover" />
                  </ng-container>
                  <ng-template #defaultIcon>
                    <svg-icon name="user" [svgClass]="'custom-icon m-1'"></svg-icon>
                  </ng-template>
                </div>
                <span class="text-md">{{ getFriendName(friend) }}</span>
              </div>
          </div>
      </div>
    </div>

  </div>